#shop-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;

  .record {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    position: relative;

    img {
      max-width: 100%;
    }

    .add-button {
      padding: 0 10px;
      background-color: rgba(245, 245, 220, 0.5);
      color: green;
      font-size: 30px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}