@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import './abstracts/_abstracts-dir';
@import './landingPage/landingPage';
@import './navigationBar/nav';
@import './shop/shop';
@import './login/login';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

  body {
    width: 100vw;
    height: 100vh;

    .App {

      .page-wrapper {
        padding: 40px;
        height: calc(100vh - 60px);
        background: url(../statics/recordStore.jpeg) no-repeat center center fixed;
        background-size: cover;
        position: relative;
        top: 60px;
        overflow: auto;
      }
    }
  }
} 